<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.owcommunity.owce">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="OWCE" android:icon="@mipmap/ic_launcher"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- BT permissions for Android 11 (30) and below -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
	<!-- BT permissions for Android 12 (31) and higher -->
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:usesPermissionFlags="neverForLocation" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!--  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
</manifest>