<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.20.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.AppCenter" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.AppCenter.Analytics" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.AppCenter.Crashes" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Refractored.MvvmHelpers" version="1.6.2" targetFramework="xamarinmac20" />
  <package id="Rg.Plugins.Popup" version="2.1.0" targetFramework="xamarinmac20" />
  <package id="SkiaSharp" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views.Forms" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinmac20" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="System.Text.Json" version="6.0.3" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Xam.Plugin.Geolocator" version="4.5.0.6" targetFramework="xamarinmac20" />
  <package id="Xamarin.CommunityToolkit" version="2.0.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.7.2" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2401" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms.PancakeView" version="2.3.0.759" targetFramework="xamarinmac20" />
</packages>